body{
    background-color: rgba(245, 248, 255, 1);
}
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* colors */
.dark-1{
     color:rgba(37, 36, 50, 1);
}
.ash{
    color:rgba(137, 135, 161, 1);
}
.ash2{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: rgba(233, 90, 8, 1);
}
.bold{
    font-weight: bold;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
.head{
    font-size: 3.1rem;
    font-weight: bold;
}

/* 
Navbar */
.nav-items{
    list-style: none;
    display: flex;
}
.nav-link{
    text-decoration: none;

}
.nav-item{
    margin-right: 30px;
}
.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.banner-image{
    width: 100%;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 220px;
}
.banner-h{
    font-size: 4rem;
}
.banner-p, .para{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-des{
    max-width: 570px;
}
.plants{
    text-align: center;
    margin-top: 115px;
}
.p-item-h{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.p-item-p{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.btns{
    padding: 19px 80px 19px 80px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: 500;
    border: 0;
    font-family: 1rem;
    
}
.plant-item-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    
}
.plant-img{
    width: 100%;
}
.plants-lover-pic-container{
    position: relative;
}
.pl-badge{
    width: 40%;
    height: auto;
    margin-left: 400px;
    position:absolute;
    margin-top: -100px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    
}
.pl-store{
  z-index: 10;
    
}
.plants-lover{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plants-lover-description{
    margin-left: 60px;
}
.deals{
    text-align: center;
    margin-top: 130px;
}
.div-bloom{
    grid-area: bloom;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.4)), url('assets/deal-bloom.png');
}
.div-ana{
  grid-area: ana;
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('assets/deal-ana.png');
}
.div-zabo{
    grid-area: zabo;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)),url('assets/deal-zabo.png');
}
.div-bloom,
.div-ana,
.div-zabo {
  border-radius: 22px;
  width: 100%;
  height: 100%;             
  min-height: 250px;        
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.deals-img-container{
    display: grid;         
    grid-template-areas: "bloom zabo zabo"
                         "ana  zabo zabo";
    gap: 10px;
    margin-top: 120px;
}

.bloom-h{
    font-size: 1.4rem;
    color: white;
    margin-top: 65px;
}
.zabo-h{
    font-size: 2.3rem;
    color: white;
    margin-top: 160px;
}
.shop{
    color: white;
    font-size: 1.1rem;
}
.shop-zabo{
    color: white;
    font-size: 1.3rem;
}


.search{
  background-image: url('assets/news-letter-bg.png');
  width: 100%;
  height: 100%;             
  min-height: 250px;        
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 120px;
}

.search-h{
    color: white;
    font-size: 3.125rem;
}
#email{
    height: 50px;
    width: 644px;
    margin-right: -4px;
    border: 0;
    padding-left: 20px;
}
.search{
    text-align: center;
    padding-top: 199px;
    padding-bottom: 180px;
}

.f-ul1{
    list-style: none;
}
.f-li{
    margin-bottom: 26px;
}
.f-link{
    color: rgba(137, 135, 161, 1);
    text-decoration: none;
}
.footer{
    display: flex;
   gap: 100px;
   margin-top: 50px;
}
.f-div1{
    max-width: 400px;
}
.f-logo{
    margin-right: 15px;
}


button:hover{
    background-color: rgba(233, 90, 8, 0.564);
}
a:hover{
     color: rgb(233, 90, 8);
}
@media (max-width:576px) {
    .hide{
        display: none;
    }
    .banner{
    flex-direction: column-reverse;
    }
    .plant-item-container{
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
}
  
.btns{
    padding: 10px 20px 10px 20px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: 400;
    border: 0;
    font-family: 0.5rem;
    
}

.plants-lover{
    flex-direction: column;
}
.pl-store{
  width: 100%;
    
}
.plants-lover-description{
    margin-left: 0px;
}
.deals-img-container{
    display: grid;         
    grid-template-areas: "bloom"
                         "ana"
                         "zabo";
    gap: 10px;
    margin-top: 120px;
}
.zabo-h{
    font-size: 1.4rem;
    margin-top: 65px;
}
.shop-zabo{
    font-size: 1.1rem;
}
#email{
   
    width: 50%;
   height: 50px;
    padding-left: 10px;
     margin-right: -4px;
}
#last-btn{
  height: 55px;

}
.footer{
  flex-direction: column;
  gap: 10px;
}
.f-ul1 {
    padding-left: 0;
  }
.nav-img{
    width: 30%;
}

}
